.writing-board-whole {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid gray;
  border-radius: 3px;
  width: 512px;
  width: 100%;
  border: none;
  top: 0%;
  transform: translate(-50%, 0%);
  padding: 1rem;
  background-color: #d84780;
  color: white;
}

.titleBar {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid black;
}
.line-wrapper {
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
}
.input-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
}
input {
  height: 3rem;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 90%;
  font-weight: 600;
}
.save-button {
  background-color: violet;
  margin-top: 2rem;
  border: 1px solid violet;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  text-align: center;

  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.save-button :hover {
  background-color: violet;
}

.save-button :active {
  background-color: violet;
}
.back-button {
  color: white;
  font-size: 1.1em;
  width: 50%;
  height: 40px;
  background-color: #d84780;
  border-radius: 15px;
  border-color: aqua;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.description {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  color: blue;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-button {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1em;
  color: white;
}
