.secret{
    .component_thumb-full .tit{
        line-height:1.4em;
    }
}
.ban-txt-box{
    position:relative;
    padding:25px 0 25px 20px;
    font-size:16px;
    color:#111;
    line-height:map-get($DEFAULT_FONT, 'line-height');
    background:#dad3cb;
    &:before{
        content:'';
        display:block;
        position:absolute;
        top:12px;
        right:22px;
        @include use_sprite($secret-file-banner);
    }
}
.secret__intro{
    .none{
        color:rgba(153, 153, 153, 0.8);
        font-size:14px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .wrap{
        padding:35px 20px 28px;
        &:nth-child(n+2){
            border-top:5px solid #f0f0f0;
        }
    }
    .wrap-tit-t1{
        position:relative;
        margin-bottom:18px;
        .tit-t1{
            font-size:23px;
            font-weight:bold;
            line-height:1.4em;
            .sub{
                color:#666;
                font-size:14px;
                line-height:map-get($DEFAULT_FONT, 'line-height');
                font-weight:normal;
            }
        }
        .link{
            position:absolute;
            right:0;
            bottom:0;
            color:$BRAND_COLOR;
            font-size:14px;
            line-height:map-get($DEFAULT_FONT, 'line-height');
        }
    }
    .wrap-tit-t2{
        margin-bottom:18px;
        &:nth-child(n+2){
            margin-top:23px;
            padding-top:23px;
            border-top:1px solid #e1e1e1;
        }
        .tit-t2{
            font-size:15px;
            line-height:map-get($DEFAULT_FONT, 'line-height');
            font-weight:bold;
        }
    }
    .info-txt{
        padding:30px 0;
        text-align:center;
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
        font-weight:bold;
        border-radius: 20px;
        background-color: #f7f7f7;
      }
    .conector{
        position:relative;
        &.is{
            padding-right:140px;
        }
        .btn-send-msg{
            position:absolute;
            right:0;
            top:50%;
            width:130px;
            margin-top:-18px;
        }
        .component_thumb-06 .wrap-info .tit{
            &.check:after{
                content:'';
                display:inline-block;
                margin-left:5px;
                @include use_sprite($ico-check);
            }
        }
        .component_thumb-06 .wrap-info .sub{text-decoration:underline;}
    }
    .component_userfollowing{
        .component_userlink{
            div{
                .name{
                    display:inline-block;
                    margin-right:5px;
                    font-size:14px;
                    line-height:map-get($DEFAULT_FONT, 'line-height');

                    &.check:after{
                        content:'';
                        display:inline-block;
                        margin-left:5px;
                        @include use_sprite($ico-check);
                    }
                }
                span{
                    font-size:12px;
                    line-height:map-get($DEFAULT_FONT, 'line-height');
                    color:#999;
                }
            }
            .wrap-info li{
                float:left;
                margin-right:5px;
                font-size:12px;
                line-height:map-get($DEFAULT_FONT, 'line-height');
                color:#666;
                span{margin-right:5px;}
            }
        }
        button{
            position: absolute;
            right: 0;
            top: 50%;
            width: 64px;
            margin-top: -18px;
        }
    }

    .txt-intro{
        margin-top:10px;
    }
    .txt-info{
        color:$LIGHTER_COLOR;
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .txt-list{
        color:#7f7f7f;
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
        li{
            &:before{
                content:'·';
                display:inline-block;
                padding-right:7px;
            }
        }
    }
    .list-info{
        @include clearfix();
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
        dt{
            float:left;
            clear:left;
            min-width:60px;
            margin-right:4px;
            color:$LIGHTER_COLOR;
            &:nth-of-type(n+2){
                margin-top:15px;
            }
        }
        dd{
            overflow:hidden;
            &:nth-of-type(n+2){
                margin-top:15px;
            }
        }
    }
    .list-count{
        font-size:15px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
        color:#000;
        > li:nth-child(n+2){
            margin-top:4px;
        }
    }
    .reviews{
        display:block;
        margin:12px 0 18px;
        padding:0 18px;
        color:#666;
        font-size:14px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .wrap-btn{
        display:block;
        margin-top:18px;
        text-align:center;
    }
    .link-more{
        color:$BRAND_COLOR;
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }

    .wrap-footer{
        padding:20px 20px 16px;
        border-top:1px solid #e1e1e1;
        .btn-join-group,
        .btn-leave-group{
            display:block;
        }
        .btn-alarm{
            position:fixed;
            left:50%;
            bottom:30px;
            width:260px;
            margin-left:-130px;
            box-shadow:0px 3px 20px 0 rgba(0, 0, 0, 0.2);
        }
        &.mt{margin-top:20px}
    }
}
// 자료
.card-secret-img{
    position:relative;
    height:150px;
    overflow:hidden;
    border-radius:10px;
    img{
        width:100%;
        height:100%;
    }
    div{display:none;}
    &.cover{
        div{
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:rgba(0, 0, 0, 0.5);
            text-indent:-999em;
            &:after{
                // position:absolute;
                // top:0;
                // left:0;
                content:'';
                display:block;
                margin:13px auto 0;
                @include use_sprite($secreet-file-img-lock);
            }
        }

    }
}

//커넥터 글
.card-conecter{
    position:relative;
    width:150px;
    height:184px;
    border-radius:2px;
    overflow:hidden;
    img{
        width:100%;
        height:100%;
    }
    div{
        position:absolute;
        bottom:18px;
        left:10px;
        font-size:16px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
        font-weight: bold;
        color: #ffffff;
        span{
            display:block;
            margin-top:12px;
            font-size:13px;
            line-height:map-get($DEFAULT_FONT, 'line-height');
            color: #c2c2c2;
        }
    }
    &:before{
        position:absolute;
        top:10px;
        left:15px;
        content:'';
        display:block;
        @include use_sprite($secret-article);
    }
}