@charset 'UTF-8';

// 입력폼
.component_comment-write{
    @include clearfix();
    padding:10px 15px;

    &.floating{
        position:fixed;
        left:0;
        right:0;
        bottom:0;
        z-index:10;
        background-color:#eee;
    }
    &.active{
        background-color:#eee;
        .btn-submit-input{
            display:block;
        }
    }

    .thumb_circle-28{
        float:left;
        margin-right:4px;
    }
    .inputbox{
        position:relative;
        height:28px;
        padding:0 28px 0 10px;
        border-radius:14px;
        background-color:#fff;
        overflow:hidden;
    }
    .input-txt{
        width:100%;
        height:100%;
        font-size:13px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .btn-submit-input{
        @include use_sprite($send-btn);
        display:none;
        position:absolute;
        right:4px;
        top:50%;
        margin-top:-12px;
        overflow:hidden;
    }
}

// 내용
.component_comment-conts{
    @include clearfix();
    position:relative;

    .thumb_circle-24{
        float:left;
        margin-right:8px;
    }
    .wrap-info{
        overflow:hidden;
    }
    .writer{
        font-size:12px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .date{
        color:$LIGHTEST_COLOR;
        font-size:11px;
        line-height:map-get($DEFAULT_FONT, 'line-height');
    }
    .txt-comment{
        color:$LIGHTER_COLOR;
    }
    .utils{
        margin-top:8px;
    }
    .btn-comment-del,
    .btn-comment-modify,
    .btn-comment-reply{
        font-size:12px;
        &:nth-child(n+2){
            margin-left:20px;
        }
    }
    .btn-comment-del{
        color:$LIGHTEST_COLOR;
    }
    .btn-comment-modify{
        color:$LIGHTER_COLOR;
    }
    .btn-comment-reply{
        color:$BRAND_COLOR;
    }
    .btn-comment-like{
        @include use_sprite($ico-reply-like-off);
        position:absolute;
        right:0;
        top:0;

        &.active{
            @include use_sprite($ico-reply-like-on);
        }
    }
}

// 리스트
.component_comment-list{
    padding:0 20px;

    > .list{
        > li{
            padding:18px 0;
            &:nth-child(n+2){
                border-top:1px solid #ddd;
            }
            > .component_comment-write{
                padding-left:20px;
            }

            > .list{
                padding-left:20px;
                > li{
                    padding:18px 0 0;
                    > .component_comment-write{
                        margin:0 -20px 0 -38px;
                        padding-left:38px;
                    }
                }
            }
        }
    }

    .component_comment-write{
        margin:0 -20px;
    }
}